{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><h2>Assets List</h2></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="asset-list" class="table table-striped table-bordered dt-responsive nowrap"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>PC Name</th>
                        <th>CPU Model</th>
                        <th>CPU ID</th>
                        <th>UPS Model</th>
                        <th>UPS ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for asset in assets %}
                        <tr>
                            <td><a style="font-weight: bold" href="{{ url('product_edit',{id:asset.id}) }}">{{ asset.pcName }}</a></td>
                            <td>{{ asset.cpuModel }}</td>
                            <td>{{ asset.cpuID }}</td>
                            <td>{{ asset.upsModel }}</td>
                            <td>{{ asset.upsID }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $("#asset-list").DataTable({

        });
    </script>
{% endblock %}